body, html {
  height: 100vh;
  opacity: 0.9;
  overflow: hidden;
  background-color: #F7F8FA;
  background-size:cover;
}

.tabs {
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
}

.title { 
  color: #494D4B;
}

.field {
  margin-left: 20px;
}

select {
  margin-left: 25px;
}

.select select {
  background-color: #E6E8EB;
  color: #494D4B;
}

li {
  margin-left: 30px;
}

img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-right: 20px;
}

p {
  margin-top: 100px;
  margin-right: 5px;
}

.inactive {
  visibility: hidden;
}

.active {
  animation-name: appear;
  animation-duration: 4s;
  animation-fill-mode: backwards;
}

.title.is-4 {
  font-size: 25px;
  text-decoration: underline;
  color: #494D4B;
  margin-left: 5px;
}

.winner {
  animation-name: win;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.circles li {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #728eb6;
  animation: up infinite alternate-reverse;
  z-index: -1;
}

div .tile {
  padding-right: 5px;
}

@keyframes win {
  from {
    font-size: 0;
  }
  to {
    font-size: 25;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-800px) translateX(-300px);
  }
}
