body, html {
  height: 100vh;
  background-color:  #2F4F4F;
  opacity: 0.85;
  overflow: hidden;
}

.tabs {
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
}

.tabs a {
  color: #d5dade;
}

.tabs a:hover {
  color: #5c5e63;
}

.title { 
  color: #d5dade;
}
.field {
  margin-left: 20px;
}

select {
  margin-left: 25px;
}

.select select {
  background-color: #322926;
  color: #d5dade;
}

li {
  margin-left: 30px;
  color: #d5dade;
}

img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

p {
  margin-top: 100px;
  margin-left: 20px;
}

.inactive {
  visibility: hidden;
}

.active {
  animation-name: appear;
  animation-duration: 4s;
  animation-fill-mode: backwards;
}

.title.is-4 {
  font-size: 25px;
  text-decoration: underline;
  color: #FAEBD7;
  margin-left: 5px;
}

.winner {
  animation-name: win;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.circles li {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #F08080;
  /* bottom: -100px; */
  /* left: 50%; */
  animation: up infinite alternate;
  z-index: -1;
}

@keyframes win {
  from {
    font-size: 0;
  }
  to {
    font-size: 25;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-800px) translateX(-300px);
  }
}